@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1D1E28;
    text-align: center;
    color: #FFF;
    scroll-behavior: smooth;
}

.navbar {
    box-shadow: none !important;
    background-color: #12131A !important;
    position: fixed;
    top: 0;
    min-width: 100vw;
    z-index: 999;
}

.nav-link {
    font-size: small !important;
    background: transparent !important;
    font-weight: bold;
    transition: color 0.4s;
}

.nav-link:hover {
    background: transparent !important;
    color: #AD91FF !important;
    transition: color 0.4s;
}

.heading {
    padding: 10% 0 5% 0;
    min-height: 100vh;
}

.heading2 {
    padding: 10% 0 5% 0;
    min-height: 100vh;
    /* too lazy to add darken overlay so i did it in photoshop instead lol*/
    background-image: url("../assets/squashybg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.social-ctn {
    font-size: large;
    display: block;
    margin: 1vh 0 1vh 0;
}

.about-ctn {
    display: block;
    margin: 0 20vw 0 20vw;
}

.icon {
    cursor: pointer;
    margin-left: 1.2vw;
    transform: rotate(0deg);
    transition: transform 0.8s;
}

.icon:hover {
    transform: rotate(360deg);
    transition: transform 0.8s;
}

.arrow {
    position: absolute;
    display: inline-block;
    bottom: 0;
    margin-bottom: 2vh;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 10px;
    transform: rotate(45deg);
}

/*
.join-button-cont {
    margin: 10px 0 0;
}

.di {
    background: rgba(15, 15, 15, .6);
    border: 1px solid rgba(45, 45, 45, 0);
    border-radius: 3px;
    padding: 10px;
    width: 410px;
    margin: 30px auto 0 40px;
    text-align: center;
}

.di-title {
    color: #8e9297;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap
}

.di-icon {
    background-clip: padding-box;
    background-position: 50%;
    background-size: 100% 100%;
    border-radius: 15px;
    flex: 0 0 auto;
    height: 50px;
    margin-right: 10px;
    width: 50px
}

.di-flex {
    display: flex;
    flex-flow: row nowrap
}

.di-details {
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 223px
}

.di-details div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.di-d-name {
    color: #f6f6f6;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px
}

.di-d-details {
    color: #72767d;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px
}

.di-d-details i {
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin-right: 4px;
    width: 8px
}

.di-d-details span {
    margin-right: 8px;
    outline: 0;
    text-align: left
}

.di-d-d-offline {
    background-color: #747f8d
}

.di-d-d-online {
    background-color: #43b581
}

.di-button:hover {
    color: #fff;
    background-color: #3ca374
}

.di-button {
    align-items: center;
    align-self: center;
    background-color: #43b581;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    margin-left: 10px;
    min-width: 90px;
    outline: 0;
    padding: 2px 0;
    width: auto;
    transition: background-color .17s ease, color .17s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: -11px
}

@media screen and (max-width:450px),
screen and (min-width:768px) and (max-width:900px) {
    .di {
        width: auto;
        max-width: 390px
    }

    .di-content {
        flex-wrap: wrap
    }

    .di-details {
        max-width: 280px
    }

    .di-button {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        width: 100%
    }
}

.pleaseendme {
    display: block;
    margin: auto;
    padding: initial;
    text-align: left;
}
*/