@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    overflow: hidden;
    background-image: url(../assets/whale.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}